.sidebar{

}
.box-animation{
    background-color: #0b5ed7;
    float: left;
    width: 150px;
    height: 50px;
    transition: all 30s;
    animation: moveBox;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.box-animation:hover{
    background-color: #20c997;
    /*transform: translateX(-100px);*/
    /*transform: translateY(200px);*/
    /*transform: translate(-100px,100px);*/
    /*transform: scale(1.5%);*/
    transform: rotate(45000deg);
}
@keyframes moveBox {
    /*from{
        transform: translateX(0);
    }
    to{
        transform: translateX(200px);
    }*/
    0%{
      transform: translateX(0);
    }
    25%{
        transform: translate(200px,0);
    }
    50%{
        transform: translate(200px,200px);
    }
    75%{
        transform: translate(0,200px);
    }
    100%{
        transform: translate(0,0);
    }
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #f6f4f4 transparent #131312 transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
.container{
    padding: 20px;
}
.footer i{
    font-size: 25px;
    color: #146c43;
    float: right;
    padding: 10px;
}
.footer i:hover{
    color: #0a53be;
}